@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700italic);
@import url(https://fonts.googleapis.com/css?family=Muli);
nav {
    position: fixed;
    top: 0;
    left: 0;
    background: #3300FF;
    border-bottom: 2px solid #ccc;
    height: 10%;
    width: 100%;
}


nav li {
    float: left;
    width: auto;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Arimo', sans-serif;
}

nav li a {
    padding: 25px 10px;
    display: block;
    text-decoration: none;
    list-style-type: none;
    color: white;

}
body {
    padding-top: 70px;
    background-color:  #9999ff;
}

nav li a:hover {
    background-color: white;
    -webkit-transition: all 2s ease;
-moz-transition: all 2s ease;
-ms-transition: all 2s ease;
-o-transition: all 2s ease;
transition: all 2s ease;
}

h1 {
  margin-top: 20%;
  text-align: center;
  font-size: 4em;
font-family: 'Dancing Script', cursive;
}
h6 {
  display: block;
  font-size: 7em;
  margin-top: 20%;
  font-family: 'Arimo', sans-serif;
  color: black;
  font-weight: 900;

}
img {
  outline: 4px groove #6B9CFF;
outline-offset: 1px;

      display: block;
      position: relative;
      width: 200px;
      height:200px;
      overflow:hidden;
    float: right;
     margin: 0px 0px 15px 15px;
     z-index: 5;
  }

  img:hover {
    transform: scale(1,1.5);
  }

p {
font-family: 'Muli', sans-serif;
text-align: center;
margin: 20%;
background-color: white;


}
.row {
  background-color:  white;
}

.navbar {
    width: 1024px;
    margin: 0 auto;
}


  .main {
    margin: 100%;
    padding: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
